In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv("Data_dict.csv")

In [3]:
data.isna().sum()

country            0
state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    233
pollutant_max    233
pollutant_avg    233
dtype: int64

In [4]:
data.dropna(inplace=True)
data.isna().sum()

country          0
state            0
city             0
station          0
last_update      0
latitude         0
longitude        0
pollutant_id     0
pollutant_min    0
pollutant_max    0
pollutant_avg    0
dtype: int64

In [5]:
data.drop(data[data['pollutant_id']!='PM10'].index,inplace=True)

In [6]:
df = data.groupby(['city', 'pollutant_id']).agg({'pollutant_min': 'min', 'pollutant_max': 'min'})
df['pollutant_avg'] = (df['pollutant_max'] + df['pollutant_min']) / 2

In [7]:
df

                            pollutant_min  pollutant_max  pollutant_avg
city          pollutant_id
Agartala      PM10                   70.0          118.0           94.0
Agra          PM10                   12.0           70.0           41.0
Ahmedabad     PM10                   27.0          101.0           64.0
Ahmednagar    PM10                   44.0          231.0          137.5
Aizawl        PM10                   54.0           94.0           74.0
...                                   ...            ...            ...
Virar         PM10                   43.0           98.0           70.5
Visakhapatnam PM10                   62.0          136.0           99.0
Vrindavan     PM10                   61.0          408.0          234.5
Yadgir        PM10                   38.0           88.0           63.0
Yamuna Nagar  PM10                   80.0          107.0           93.5

[228 rows x 3 columns]

In [8]:
bins = [0, 54, 154, 254, 354, np.inf]
categories = ['very healthy', 'healthy', 'moderate', 'unhealthy', 'very unhealthy']

In [9]:
df['pollutant_level'] = pd.cut(df['pollutant_avg'], bins=bins, labels=categories, right=False)

In [10]:
df

,,pollutant_min,pollutant_max,pollutant_avg,pollutant_level
city,pollutant_id,,,,
Agartala,PM10,70.0,118.0,94.0,healthy
Agra,PM10,12.0,70.0,41.0,very healthy
Ahmedabad,PM10,27.0,101.0,64.0,healthy
Ahmednagar,PM10,44.0,231.0,137.5,healthy
Aizawl,PM10,54.0,94.0,74.0,healthy
...,...,...,...,...,...
Virar,PM10,43.0,98.0,70.5,healthy
Visakhapatnam,PM10,62.0,136.0,99.0,healthy
Vrindavan,PM10,61.0,408.0,234.5,moderate
Yadgir,PM10,38.0,88.0,63.0,healthy
Yamuna Nagar,PM10,80.0,107.0,93.5,healthy

In [11]:
X = df[['pollutant_min', 'pollutant_max', 'pollutant_avg']]
y = df['pollutant_level']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

nb_classifier = GaussianNB()
nb_classifier.fit(X_train, y_train)

y_pred = nb_classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9565217391304348